{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     {% comment %} style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;" {% endcomment %}
     >
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Admin
          {% comment %} {{ request.user.username }} {% endcomment %}
        </h1>
        {% comment %} <p class="text-white mt-0 mb-5">This is your profile page.</p> {% endcomment %}
        {% comment %} <a href="#!" class="btn btn-neutral">Edit profile</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE0-h9GbU5_MnxvB0elw0l-sK4JiW2ml2HNg&usqp=CAU" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            {% comment %} <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a> {% endcomment %}
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                {% comment %} <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{ request.user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ request.user.email }}
            </div>
            {% comment %} <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit profile </h3>
            </div>
            <div class="col-4 text-right">
              {% comment %} <a href="#!" class="btn btn-sm btn-primary">Settings</a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{ request.user.username }}" readonly style='cursor:not-allowed;'>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control" placeholder="{{ request.user.email }}"  readonly style='cursor:not-allowed;'>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" name='input-first-name' class="form-control" onkeypress="return /[a-zA-Z]/i.test(event.key)" placeholder="First name" value="{{profileObj.userFk.first_name}}" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control" onkeypress="return /[a-zA-Z ]/i.test(event.key)" placeholder="Last name" value="{{profileObj.userFk.last_name}}" required>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control" onkeypress="return /[0-9a-zA-Z ,/:-]/i.test(event.key)" placeholder="Home Address" value="{{profileObj.address}}" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control" onkeypress="return /[a-zA-Z]/i.test(event.key)" placeholder="City" value="{{profileObj.city}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control" placeholder="Country" onkeypress="return /[a-zA-Z]/i.test(event.key)" value="{{profileObj.country}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="text" id="input-postal-code" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" maxlength="6" placeholder="Postal code" value="{{profileObj.postal_code}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">About Me</label>
                <textarea rows="4" class="form-control" id='about_me' placeholder="A few words about you ...">{{profileObj.about_me}}</textarea>
              </div>
            <div class="col-12 text-right">
              <button type='button' class="btn btn-sm btn-primary active" onclick="updateUserProfile()">Update Profile</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function updateUserProfile(){
  var first_name = $('#input-first-name').val().trim();
  var last_name = $('#input-last-name').val().trim();
  var address = $('#input-address').val().trim();
  var city = $('#input-city').val().trim();
  var country = $('#input-country').val().trim();
  var postal_code = $('#input-postal-code').val().trim();
  var about_me = $('#about_me').val().trim();

  if(first_name.length == 0){
    $('#input-first-name').css('border','2px solid red');
    return false;
  }else{
    $('#input-first-name').css('border','');
  }

  if(postal_code.length > 0 && postal_code.length < 6){
    $('#input-postal-code').css('border','2px solid red');
    return false;
  }else{
    $('#input-postal-code').css('border','');
  }

  // ---------------  AJAX CALL  ----------------------------
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: "/profile",
        headers: { 'X-CSRFToken': csrftoken },
        data: {'first_name': first_name, 'last_name': last_name, 'address': address,'city': city,'country': country,'postal_code': postal_code,'about_me': about_me},
        success: function (response) {
            console.log(response['response']);
            if(response['response'] == 'success'){
                alert('Profile Updated Successfully');
                window.location.reload()
            }else{
                alert('An Error Occured.Try Again!');
                return false;
            }
        }
    });
    // --------------------------------------------------------

}
</script>
{% endblock javascripts %}
